#nav-bar {

}

#search-bar {
  position: relative;
  height: 80px;
  background-color: #E8F0F4;

  #search {
    display: inline-block;
    width: 250px;

    input:focus {
      border-color: #1daff0;
    }
  }

  #add-deal {
    background-color: #1daff0;
  }
}

#deal-content {
  background-color: #F2F7FA;
  height: 100vh;

  #deal-options {
    padding-top: 10px;

    button {
      height: 1em;
      line-height: 0.2em;
      margin-right: 10px;
      background-color: white;
    }

    button.active {
      background-color: #6fd4e1;
      color: #fff;
    }
  }

  #deal-grid {
    .deal-card {
      height: 220px;
      background-color: white;
      margin: 5px;
      border-bottom: 2px solid #69C548;
      padding: 15px;
      font-size: 0.8em;

      .title {
        .tick {
          height: 50px;
          float: right;
          clear: both;
        }
        .status {
          color: #69C548;
        }
      }
    }
  }
}

.center {
  height: 50%;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0;
}

.remove-padding {
  padding: 0px 0px;
}

.extra-padding {
  padding: 0px 100px;
}

.round-edges {
  border-radius: 25px !important;
}
