.big-icon {
  font-size: 50px;
}
.big-text {
  font-size: 1.8em;
}

.outer {
  height: 100px;
  width: 100%;
  padding: 0px 20px;
  display: table;
}

.inner {
  display:table-cell;
  vertical-align:middle;
  text-align:left;
}

.long-tile {
  height: 350px;
}

.medium-tile {
  height: 250px;
}


//#stat1 {background-color: #FFDC3D;}
//#stat2 {background-color: #E8B637;}
//#stat3 {background-color: #FFB949;}
//#stat4 {background-color: #E88D37;}
//#stat5 {background-color: #FF7F3D;}
//#stat6 {background-color: #FF5F48;}

