.deal{

  &.deal-card{
    cursor: pointer;

    .tile{
      height: 100%;

      .modal-header{
        padding: 0;
      }
    }
  }

  .ctrl-btns{
    height: 10%;
    padding: 1%;
  }

  .grid{
    height: 90%;
  }
}