
.home-wrapper {
  overflow: scroll;
  background: url(../images/wood-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  color: #fff;

  h3{
    font-weight: 400;
    font-size: 2.5em;
  }
  p{
    font-weight: 200;
    font-size: 1.2em;
  }
}

.right-content{
  overflow: hidden;
  -webkit-animation: slideUp 1s; /* Chrome, Safari, Opera */
  animation: slideUp 1s;
  padding-top: 10%;
  .phone{
    width: 95%;
    margin-top: -20%;
  }
}

.left-content{
  overflow: hidden;
  -webkit-animation: slideDown 1s; /* Chrome, Safari, Opera */
  animation: slideDown 1s;
  padding-top: 10%;
  .drink{
    width: 100%;
    padding-top: 10%;
    margin-left: 10%;
  }
}

@-webkit-keyframes slideUp {
  from {padding-top: 100%;}
  to {padding-top: 10%;}
}

@keyframes slideUp {
  from {padding-top: 100%;}
  to {padding-top: 10%;}
}

@-webkit-keyframes slideDown {
  from {padding-top: -100%;}
  to {padding-top: 10%;}
}

@keyframes slideDown {
  from {padding-top: -100%;}
  to {padding-top: 10%;}
}


.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  text-align: center;
  border-top: 1px #fff solid;
  position: relative;
  bottom: 10px;

  .mastfoot-nav > li {
    display: inline-block;

    & > a {
      font-size: 1em;
      padding-top: 10%;
      font-weight: bold;
      color: #fff; /* IE8 proofing */
      color: rgba(255,255,255,.75);
      margin-bottom: 0;
      padding-bottom: 0;
      cursor: pointer;
      &:hover, &:focus{
        background-color: transparent;
      }
    }
  }

  .mastfoot-nav > .active > a,
  .mastfoot-nav > .active > a:hover,
  .mastfoot-nav > .active > a:focus {
    color: #fff;
  }
}

.cover {
  padding: 0 5% 5% 5%;
  text-align: center;

  .logo{
    width: 80%;
    margin: auto;
  }
  p{
    &.subtitle{
      font-size: .7em;
      padding-top: 1%;
    } 
  }
}

.about{
  .cover{
    text-align: left;
    h3{
      margin-top: 0;
    }
    p{
      font-size: 1em;
      &.subtitle{
        font-size: .7em;
        padding-top: 1%;
      } 
    }
  }
}

.banner{
  background-color: rgba(255,255,255,.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10%;
  padding: 5%;

  h3{
    font-weight: 400;
    font-size: 1em;
    margin: 0;
    margin-top: 5%;
  }
  p{
    margin: 0;
    font-size: .7em;
  }
  a{
    color: #fff;
    &:hover{
      color: #fff;
      cursor: pointer;
    }
  }
}

.btn-download{
  background-color: #e8613d;
  color: #fff;
  border-radius: 30px;
  padding: 3% 6%;
  font-weight: 700;
  font-size: 1.2em;
  cursor: pointer;
  &:hover{
    color: #fff;
    background-color: #ea633f;
  }
}

.btn-get{
  background-color: #e8613d;
  color: #fff;
}

.animate-switch.ng-enter, 
.animate-switch.ng-leave { 
    -webkit-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.animate-switch.ng-enter {
    margin-left: 100%;
}
.animate-switch.ng-enter.ng-enter-active {
    margin-left: 0;
}
 
.animate-switch.ng-leave {
    margin-left: 0;
}
.animate-switch.ng-leave.ng-leave-active{
    margin-left: -100%;
}

@media(max-width: 480px){
  body, html, .ng-scope{
    height: auto;
    width: 100%;
  }

  .banner{
    margin: auto 5%;
    h3{
      font-size: .7em;
    }
    p{
      font-size: .5em;
    }
  }

  .cover {
    .logo{
      width: 100%;
      margin: auto;
      padding-top: 5%;
    }
    h3{
      font-size: 2em;
      margin-top: 0;
    }
    p{
      font-size: 1em;
    }
  }

  .right-content{
    padding-top: 5%;
  }

  .home-wrapper {
    background: url(../images/wood-bg.jpg) repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

}

@media(min-width: 768px){
  
}





