
.home-wrapper {
  height: 100%;
  //overflow: scroll;
  background: url(../images/wood-bg.jpg) no-repeat center center fixed; 
  @include vendor-property(background-size, cover);
  font-family: 'Lato', sans-serif;
  color: #fff;
  min-width: 1090px;
  min-height: 800px;
  overflow: hidden;

  .home, .about, .team{
    height: 100%;

  }

  h2{
    font-weight: 400;
    font-size: 45px;
  }
  h4{
    font-weight: 800;
    font-size: 1.2em;
  }
  h5{
    font-weight: 100;
    font-size: 21px;
  }
  p{
    font-weight: 200;
    font-size: 1.2em;
    line-height: 1.4em;
    margin-bottom: 5px;
    &.subtitle{
      font-size: .7em;
    }
  }
  a{
    color: #fff;
    cursor: pointer;
  }
}

.main-content{
  height: 90%;
  max-width: 1420px;
  margin: auto;
}

.top{
  height: 16.66%;
  min-height: 103px;
  .banner{
    background-color: rgba(255,255,255,.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1% 0;
    img{
      max-height: 106px;
    }
    h3{
      font-weight: 400;
      font-size: 1.2em;
      margin: 0;
      margin-top: 5%;
    }
    p{
      margin: 0;
      font-size: 1em;
    }
    a{
      color: #fff;
      &:hover{
        color: #fff;
        cursor: pointer;
      }
    }
  }
  .logo{
    background-color: rgba(255,255,255,0);
    .img-responsive{
      margin: auto;
      width: 50%;
    }
  }
}

.body{
  height: 83.333%;
  min-height: 550px;
  .dm{
    max-height: 5em;
  }
  .logo{
    width: 80%;
    margin: auto;
  }
}

.app-store-btns{
  margin: auto;
  min-width: 400px;
  text-align: center;
  .img-responsive{
    margin: auto;
  }
  .apple-badge{
    min-width: 7.2em;
  }
  .google-badge{
    min-width: 6em;
    img{
      width:85%;
    }
  }
}

.btn-download{
  background-color: #e8613d;
  color: #fff;
  border-radius: 30px;
  padding: 3% 6%;
  font-weight: 700;
  font-size: 1.2em;
  cursor: pointer;
  &:hover{
    color: #fff;
    background-color: #ea633f;
  }
}

.btn-get{
  background-color: #e8613d;
  color: #fff;
}

.right-content{
  max-height: 100%;
  .phone{
    width: 95%;
    min-width: 360px;
    margin-top: -10%;
    @include animation('hideOnLoad 500ms, slideUp 1s 500ms');
  }
}

.left-content{
  max-height: 100%;
  .drink{
    width: 100%;
    padding-top: 20%;
    margin-left: 10%;
    @include animation('hideOnLoad 500ms, slideDown 1s 500ms');
  }
}

.center-content {
  text-align: center;
  max-height: 100%;
}

.foot{
  height: 10%;
  max-width: 1420px;
  margin: auto;
  .mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
    text-align: center;
    border-top: 1px #fff solid;
    position: relative;
    text-decoration: none;

    .mastfoot-nav > li {
      display: inline-block;

      & > a {
        font-size: 18px;
        padding-top: 7%;
        font-weight: bold;
        color: #fff; /* IE8 proofing */
        color: rgba(255,255,255,.45);
        margin-bottom: 0;
        padding-bottom: 0;
        cursor: pointer;
        text-decoration: none;
        &:hover, &:focus{
          background-color: transparent;
          text-decoration: none;
        }
        &.active{
          color: #fff;
          color: rgba(255,255,255,1);
        }
      }
    }
  }
}

.about{
  .body{
    min-height: 604px;
    .header{
      border-bottom: 1px #fff solid;
      margin: 0;
      margin-bottom: 2%;
      .col-md-3{
        width: 118px;
        padding-left: 0;
      }
      .col-md-8{
        padding-left: 0;
        padding-right: 0;
        h5{
          margin-bottom: 0;
        }
        h2{
          margin-top: 0;
          margin-bottom: 2%;
        }
      }
    }
    a{
      text-decoration: underline;
    }
    .app-store-btns{
      .col-sm-4{
        padding-top: 5px;
        padding-left: 0;
      }
    }
  }
  .right-content{
    padding-top: 2%;
  }

  .center-content{
    text-align: left;
    padding-left: 0;
    min-width: 393px;
    min-height: 550px;
  }
}

.phone-carousel {
    background: url('../images/phone-slides/0.png') no-repeat left top;
    background-size: cover;
    width: 80%;
    margin-top: -12%;
    margin-left: 20%;
    .phone-screen{
      width: 67%;
      padding-top: 29%;
      margin-left: 16.5%;
      padding-bottom: 34%;
    }
    .carousel-control{
      background: none;
    }
}

.team{
  .banner{
    background-color: rgba(255,255,255,0);
  }
  h3{
    margin-bottom: 5%;
    font-size: 2em;
    margin-top: 4%;
  }

  img.farley{
    margin-top: 10%;
    @include animation('hideOnLoad 1750ms, fadeIn 500ms 1750ms');
  }

  .img-card{
    img{
      width: 60%;
      margin: auto;
    }

    &.one{
         @include animation('fadeIn 250ms');
    }
    &.six{
       @include animation('hideOnLoad 250ms, fadeIn 500ms 250ms');
    }
    &.four{
       @include animation('hideOnLoad 500ms, fadeIn 500ms 500ms');
    }
    &.five{
       @include animation('hideOnLoad 750ms, fadeIn 500ms 750ms');
    }
    &.three{
       @include animation('hideOnLoad 1000ms, fadeIn 500ms 1000ms');
    }
    &.two{
       @include animation('hideOnLoad 1250ms, fadeIn 500ms 1250ms');
    }
    &.seven{
       @include animation('hideOnLoad 1500ms, fadeIn 500ms 1500ms');
    }

    .img-caption{
      h3{
        color: #fff;
        font-size: .8em;
        font-weight: 400;
        margin-top: 5%;
        margin-bottom: 15%;
      }
    }
  }
  .team-grid .col-md-offset-1{
    margin-left: 12.333333%;
  }
}

.results{
  .table-responsive{
    height: 415px;
    overflow: scroll;
  }
  .download-btns{
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

@include keyframes(slideUp) {
  0% {padding-top: 100%;}
  100% {padding-top: 0;}
}

@include keyframes(slideDown) {
  0% {margin-top: -60%;}
  100% {margin-top: 0;}
}

@include keyframes(fadeIn) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes(hideOnLoad) {
  0% {visibility: hidden;}
  100% {visibility: hidden;}
}


@media(max-width: 480px){
  body, html, .main-content, .body {
    height: inherit;
  }
  .home-wrapper {
    h2{
      font-weight: 400;
      font-size: 2em;
      margin-top: 0;
    }
    h4{
      font-weight: 800;
      font-size: 1.2em;
    }
    h5{
      font-weight: 100;
      font-size: 1.2em;
    }
    p{
      font-weight: 200;
      font-size: 1.2em;
      line-height: 1.4em;
      margin-bottom: 10px;
      &.subtitle{
        font-size: .7em;
      }
    }
  }

  .center-content.mobile{
    margin: 0 5px;
  }

  .right-content{
      .phone{
        -webkit-animation: none;
        animation: none;
        margin-top: 0;
        padding-top: 0;
        min-width: inherit;
        margin: auto;
      }
    }

  .banner{
    .col-xs-3{
      padding-right: 0;
      margin-top: 2%;
    }
    margin: auto 5%;
  }

  .top{
    min-height: inherit;
  }

  .about{
    .body{
      .center-content{
        padding-left: 15px;
        min-width: inherit;
        min-height: inherit;
      }

      .header{
        margin-bottom: 5%;
        .col-md-3{
          width: 92px;
        }
      }
    }
  }

  .home-wrapper {
    background: url(../images/wood-bg.jpg) repeat center center; 
    @include vendor-property(background-size, cover);
    overflow-x:hidden;
    min-width: inherit;
    min-height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .team .team-grid .col-md-offset-1 {
    margin-left: 0;
  }

}

@media (min-width: 480px) 
and (max-width: 1024px) 
{
  body, html, .main-content {
    height: inherit;
  }
  .home-wrapper {
    h2{
      font-weight: 400;
      font-size: 2em;
      margin-top: 0;
    }
    h4{
      font-weight: 800;
      font-size: 1.2em;
    }
    h5{
      font-weight: 100;
      font-size: 1.2em;
    }
    p{
      font-weight: 200;
      font-size: 1.2em;
      line-height: 1.4em;
      margin-bottom: 10px;
      &.subtitle{
        font-size: .7em;
      }
    }
  }

  .center-content.mobile{
    margin: 0 5px;
  }

  .right-content{
      .phone{
        -webkit-animation: none;
        animation: none;
        margin-top: 0;
        padding-top: 0;
        min-width: inherit;
        margin: auto;
      }
    }

  .banner{
    .col-xs-3{
      padding-right: 0;
      margin-top: 2%;
    }
  }

  .top{
    min-height: inherit;
  }

  .about{
    .body{
      padding-bottom: 26%;
      .center-content{
        padding-left: 15px;
        min-width: inherit;
        min-height: inherit;
      }

      .header{
        margin-bottom: 5%;
        .col-md-3{
          width: 92px;
        }
      }
    }
  }

  .home-wrapper {
    background: url(../images/wood-bg.jpg) repeat center center; 
    @include vendor-property(background-size, cover);
    overflow-x:hidden;
    min-width: inherit;
    min-height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .team .body{
    padding-bottom: 60%;
  }

  .results .body{
    padding-bottom: 18%;
  }

  .foot{
    margin-bottom: 1%;
  }
}





