/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.ui-calendar {
  .selected-event{
    background-color: #f8ac59;
  }

  .main-event{
    background-color: #23c6c8;
    border: #23c6c8;
  }

  .past-event{
    background-color: #c2c2c2;
    border: #c2c2c2;
  }
}

.fc-event{
  cursor: pointer;
}

.unselectable-event{
  cursor: not-allowed;
}

.edit-deals{
  margin-bottom: 200px;
}

.inspinia-notify{
  margin-left: 50%;
}

