<div ng-cloak class="home-wrapper container-fluid">
  <div class="main-content">
    <div ui-view></div>
  </div>
  <div class="row foot">
    <div class="mastfoot col-md-6 col-md-offset-3">
      <nav>
        <ul class="nav mastfoot-nav">
          <li><a ng-class="{active:$state.includes('home.index')}" ui-sref=".index" >HOME</a></li>
          <li><a ng-class="{active:$state.includes('home.about')}" ui-sref=".about" >ABOUT</a></li>
          <li><a ng-class="{active:$state.includes('home.team')}" ui-sref=".team" >TEAM</a></li>
          <li><a href="mailto:hello@barliftapp.com">CONTACT</a></li>
        </ul>
      </nav>
    </div>
  </div>

</div>