<div class="about">
  <div class="row top">
    <div class="logo col-md-4 col-md-offset-4 row">
      <a ng-click="switchWithin('home')">
        <img class="img-responsive" src="/images/logo.png">
      </a>
    </div>
  </div>
  <div class="row body">
    <div class="right-content col-md-4 col-md-offset-2 hidden-sm hidden-xs">
      <div class="phone-carousel">
        <div class="phone-screen">
          <carousel interval="3000">
            <slide ng-repeat="slide in slides" active="slide.active">
              <img ng-src="{{slide.image}}" style="margin:auto;">
            </slide>
          </carousel>
        </div>
      </div>
    </div>
    <div class="center-content col-md-4">
      <div class="row header">
        <div class="col-md-3 col-xs-3">
          <img class="img-responsive dm" src="/images/dm.png">
        </div>
        <div class="col-md-8 col-xs-8">
          <h5>DM teams:</h5>
          <h2 class="cover-heading">Win $1000!</h2>
        </div>
      </div>
      <p>
        BarLift, a Northwestern student startup, is partnering with Dance Marathon to donate $1000 to DM. <a ng-click="switchWithin('competition')">See scores here!</a>
      </p>
      <a ng-if="getDevice() === 'ios'"  
        href="https://itunes.apple.com/us/app/barlift/id965946420?ls=1&mt=8" 
        class="btn-download"
        analytics-on="click"
        analytics-event="Download iOS">Download the app <i class="fa fa-chevron-circle-right"></i></a> 
      <a ng-if="getDevice() === 'android'"  
        href="https://play.google.com/store/apps/details?id=com.barliftapp.barlift" 
        class="btn-download"
        analytics-on="click"
        analytics-event="Download Android">Download the app <i class="fa fa-chevron-circle-right"></i></a> 
      <div ng-if="getDevice() === 'unknown'" class="row app-store-btns">
        <a class="col-sm-4 col-sm-offset-2 apple-badge" 
          href="https://itunes.apple.com/us/app/barlift/id965946420?ls=1&mt=8"
          analytics-on="click"
          analytics-event="Download iOS">
          <img class="img-responsive" src="images/applebadge.png">
        </a>
        <a class="col-sm-4 google-badge" 
          href="https://play.google.com/store/apps/details?id=com.barliftapp.barlift"
          analytics-on="click"
          analytics-event="Download Android">
          <img class="img-responsive" alt="Android app on Google Play"
               src="images/googlebadge.png" />
        </a>
      </div>
      <h4>1st Prize - $800</h4>
      <p>The DM team with the most BarLift app downloads (iOS/Android) will win $800.</p>
      <h4>2nd Prize - $200</h4>
      <p>Each user download will be an entry to a raffle. The more downloads a DM team has, the higher the chances of winning.</p>
      <p class="subtitle">Contest starts on Feb 27th and ends on March 6th Winners will be announced on  March 7th </p>
      <p class="subtitle">Feel free to spread the word to friends that aren’t involved with DM! Their downloads count too! (No age limit – all entries welcome)</p>
    </div>
  </div>
</div>