<div class="row">  
    <div class="col-lg-3">
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-thumbs-up fa-4x"></i>

                <h1 class="m-xs">{{interestedCount}}</h1>

                <h3 class="font-bold no-margins">
                    Interested
                </h3>
                <small>People</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-thumbs-up fa-4x"></i>

                <h1 class="m-xs">{{avgDealsRedeemed | number:2}}</h1>

                <h3 class="font-bold no-margins">
                    Avg Deals
                </h3>
                <small>Redeemed</small>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                Gender Split
            </div>
            <div class="ibox-content">
                <div>
                    <canvas barchart options="barOptions" data="gender" height="300" responsive=true ></canvas>
                </div>
            </div>
        </div>
    </div>
</div>