<div class="ibox float-e-margins">
    <div class="ibox-title">
        <span class="label label-warning pull-right" ng-if="deal.deal_start_date > today && !isLocked(deal.deal_start_date)">Future</span>
        <span class="label label-primary pull-right" ng-if="sameDate(deal.deal_start_date,today)">Today</span>
        <span class="label label-default pull-right" ng-if="pastDate(deal.deal_start_date,today)">Past</span>
        <span class="label label-danger pull-right" ng-if="isLocked(deal.deal_start_date)">Locked</span>
        <span class="label label-info pull-right" ng-if="deal.main">Main</span>
        <h5>{{deal.deal_start_date | date:'MM/dd/yyyy'}}</h5>
    </div>
    <div class="ibox-content">
        <h3 class="font-bold no-margins">{{ deal.name | limitTo: 18 }}{{ deal.name.length > 18 ? '...' : ''}}</h3>
        <div class="stat-percent font-bold text-success">{{deal.num_accepted}}</div>
        <small>People interested</small>
        <div class="row m-t text-center">
            <div class="col-md-6">
                <!-- show edit if deal not live-->
                <a ng-if="!pastDate(deal.deal_start_date,today)" class="btn btn-sm btn-primary btn-block" ui-sref="deals.builder({selectedDeal: deal.objectId})">Edit</a>
                <!-- show feedback if deal is over -->
                <a ng-if="pastDate(deal.deal_start_date,today)" class="btn btn-sm btn-primary btn-block" ng-click="openFeedback({dealID: deal.objectId})">Give Feedback</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-sm btn-primary btn-block" ui-sref="deals.analytics({selectedDeal: deal.objectId})">Analytics</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-sm btn-primary btn-block" ng-click="open()">Duplicate</a>
            </div>
        </div>
    </div>
</div>
