<div class="row">
  <div class="col-lg-3" ng-repeat="deal in deals">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <span class="label label-success pull-right">Active</span>
        <h5>{{deal.deal_start_date | date:'MM/dd/yyyy'}}</h5>
      </div>
      <div class="ibox-content">
        <h3 class="font-bold no-margins">{{deal.name | limitTo:20}}</h3>

        <div class="stat-percent font-bold text-success">{{deal.num_accepted}}</div>
        <small>People interested</small>
      </div>
    </div>
  </div>
</div>