<div class="modal-body">
    <h3 class="m-t-none m-b">{{selectedDeal.name}}</h3>
    <div class="row">
        <div class="col-sm-12">
            <h4>Repeat this deal</h4>
            <p>Repeat this deal exactly on a different date. The same times will be used</p>
            <form role="form" name="repeatForm">
                <div class="input-group date">
                    <input type="date" class="form-control" ng-model="newThings.date" required>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
                <div class="hr-line-dashed"></div>
                <button class="btn btn-sm btn-primary" ng-click="repeat()" ng-disabled="repeatForm.$invalid">Repeat</button>
                <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
            </form>
            <div class="col-sm-12" ng-if="alert.text">
                <div class="alert alert-danger" ng-if="alert">
                    {{alert.text}}
                </div>
            </div>
        </div>
    </div>
</div>
