<div class="row">
    <div class="col-lg-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Available Main Deals</h5>
            </div>

            <div class="ibox-content ui-calendar">
                <div ui-calendar="uiConfig.calendar" calendar="myCalendar1" class="calendar" ng-model="eventSource"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Selected Deals</h5>
          </div>
          <div class="ibox-content">
              <div class="full-height-scroll" full-scroll>
                  <div class="table-responsive">
                      <table class="table table-striped table-hover">
                          <tbody>
                          <tr ng-repeat="deal in selectedDeals">
                              <td><a class="client-link">{{deal.name}}</a></td>
                              <td>{{deal.deal_start_date | date:'MM/dd/yyyy'}}</td>
                              <td>${{deal.main_price}}</td>
                          </tr>
                          <tr>
                              <td colspan="2"><a class="client-link">Total</a></td>
                              <td>${{total}}</td>
                          </tr>
                          </tbody>
                      </table>    
                  </div>  
              </div>
              <button class="btn btn-primary" ng-click="buyDeals()">Buy</button>
          </div>
      </div>

  </div>
</div>