<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Deal Analytics</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Deal</a>
            </li>
            <li class="active">
                <strong>Layouts</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Your Deals</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <div class="feed-activity-list">
                            <div class="feed-element" ng-repeat="deal in deals">
                                <div class="media-body">
                                    <a ng-click="selectedDeal=deal">{{deal.name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <deal-analytics user="user" deals="deals" deal="selectedDeal"></deal-analytics>
        </div>
    </div>
</div>