<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Deal Name</h5>
                </div>
                <div class="ibox-content">
                    <ul class="stat-list">
                        <li>
                            <h2 class="no-margins">{{deal.name}}</h2>
                            <small>Name</small>
                        </li>
                        <li>
                            <p class="no-margins ">{{deal.description}}</p>
                            <small>Description</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Deal Details</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-8">
                            <ul class="stat-list">
                                <li>
                                    <h2 class="no-margins">{{deal.community_name}}</h2>
                                    <small>Target community</small>
                                </li>
                                <li>
                                    <h2 class="no-margins ">{{deal.deal_start_date | date:'EEE, MMM d'}} - {{deal.deal_end_date | date:'EEE, MMM d'}}</h2>
                                    <small>Dates live</small>
                                </li>
                                <li>
                                    <div>
                                        <a ui-sref="feedback({dealId: deal.objectId})" class="btn btn-danger btn-md" href="#/deals/builder/">Admin feedback</a>
                                    </div>
                                    <small>Visible to admins only</small>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4" ng-if="males">
                            <canvas doughnutchart options="doughnutOptions" data="doughnutData" width="80" height="80"></canvas>
                            <div>
                                <small>Gender</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <a ng-if="deal.feedback" class="label label-success pull-right" ui-sref="feedback({dealId: deal.objectId})">Edit</a>
                    <h5>Rating</h5>
                </div>
                <div class="ibox-content" ng-if="deal.feedback">
                    <h1 class="no-margins">
                        <rating name="rating" max="5" ng-model="deal.feedback.rating" 
                    style="outline: none;" readonly="true"></rating>
                    </h1>
                    <small>Overall rating</small>
                </div>
                <div class="ibox-content text-center" ng-if="!deal.feedback">
                    <a ui-sref="feedback({dealId: deal.objectId})" class="btn btn-success btn-md" href="#/deals/builder/">Provide feedback</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <a ng-if="deal.feedback" class="label label-success pull-right" ui-sref="feedback({dealId: deal.objectId})">Edit</a>
                    <h5>Revenue</h5>
                </div>
                <div class="ibox-content" ng-if="deal.feedback">
                    <h1 class="no-margins">$ {{deal.feedback.revenue}}</h1>
                    <small>Estimated revenue from the deal</small>
                </div>
                <div class="ibox-content text-center" ng-if="!deal.feedback">
                    <a ui-sref="feedback({dealId: deal.objectId})" class="btn btn-success btn-md" href="#/deals/builder/">Provide feedback</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <a ng-if="deal.feedback" class="label label-success pull-right" ui-sref="feedback({dealId: deal.objectId})">Edit</a>
                    <h5>Redeemed</h5>
                </div>
                <div class="ibox-content" ng-if="deal.feedback">
                    <h1 class="no-margins">{{deal.feedback.visits}}</h1>
                    <small>People showed up at the venue</small>
                </div>
                <div class="ibox-content text-center" ng-if="!deal.feedback">
                    <a ui-sref="feedback({dealId: deal.objectId})" class="btn btn-success btn-md" href="#/deals/builder/">Provide feedback</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Interested</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{deal.num_accepted}}</h1>
                    <small>People indicated interest via the app</small>
                </div>
            </div>
        </div>
    </div>
    <!-- graph -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">App interaction</span>
                    <span class="label label-danger pull-right">Nudges</span>
                    <h5>Interest</h5>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart">
                        <div flot class="flot-chart-content" dataset="graphData" options="graphOptions"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
