<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Deal Builder</h2>
        <p>To create a deal or edit an exist one. All Deal edits must be made 3 days before deal date.</p>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 ng-if="!$stateParams.selectedDeal">Create a new deal</h5>
                    <h5 ng-if="$stateParams.selectedDeal">Edit</h5>
                </div>
                <div class="ibox-content">
                    <deal-builder user="user" deals="deals" venues="venues"></deal-builder>
                </div>
            </div>
        </div>
    </div>
</div>