<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Deal Builder</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Deal</a>
            </li>
            <li class="active">
                <strong>Layouts</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 ng-if="!selectedDeal.objectId">Create a new deal</h5>
                    <h5 ng-if="selectedDeal.objectId">Edit {{selectedDeal.name}}</h5>
                </div>
                <div class="ibox-content">
                    <deal-builder user="user" deals="deals" venues="venues"></deal-builder>
                </div>
            </div>
        </div>
    </div>
</div>