<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Deal Details</h5>
                </div>
                <div class="ibox-content">
                    <ul class="stat-list">
                        <li>
                            <b>Title:</b>
                            <h2 class="no-margins">{{deal.name}}</h2>
                        </li>
                        <li>
                            <b>Subdeals:</b>
                            <p class="no-margins" ng-repeat="subdeal in deal.add_deals">
                                {{subdeal}}
                            </p>
                        </li>
                        <li>
                            <b>Location:</b>
                            <h2 class="no-margins">{{deal.venue.bar_name}}</h2>
                        </li>
                        <li>
                            <b>Dates:</b>
                            <h2 class="no-margins ">{{deal.deal_start_date | date:'EEE, MMM d'}} - {{deal.deal_end_date | date:'EEE, MMM d'}}</h2>
                        </li>
                        <li>
                            <b>Target community:</b>
                            <h2 class="no-margins">{{deal.community_name}}</h2>
                        </li>
                        <li>
                            <b>Description:</b>
                            <p class="no-margins ">{{deal.description}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Demographics</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-4 text-center" ng-if="males || females">
                            <canvas id="doughnut" height="200" width="200" class="chart chart-doughnut" data="genderData" labels="genderLabels"></canvas> 
                            <div>
                                <small>Gender</small>
                            </div>
                        </div>
                        <div class="col-lg-8">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- graph -->
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>User Engagement</h5>
                </div>
                <div class="ibox-content">
                    <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series">
                    </canvas> 
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <a ng-if="deal.feedback" class="label label-success pull-right" ng-click="openFeedback()">Edit</a>
                            <h5>Rating</h5>
                        </div>
                        <div class="ibox-content" ng-if="deal.feedback">
                            <h1 class="no-margins">
                        <rating name="rating" max="5" ng-model="deal.feedback.rating" 
                    style="outline: none;" readonly="true"></rating>
                    </h1>
                            <small>Overall rating</small>
                        </div>
                        <div class="ibox-content text-center" ng-if="!deal.feedback">
                            <a class="btn btn-success btn-md" ng-click="openFeedback()">Provide feedback</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <a ng-if="deal.feedback" class="label label-success pull-right" ng-click="openFeedback()">Edit</a>
                            <h5>Revenue</h5>
                        </div>
                        <div class="ibox-content" ng-if="deal.feedback">
                            <h1 class="no-margins">$ {{deal.feedback.revenue}}</h1>
                            <small>Estimated revenue from the deal</small>
                        </div>
                        <div class="ibox-content text-center" ng-if="!deal.feedback">
                            <a class="btn btn-success btn-md" ng-click="openFeedback()">Provide feedback</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <a ng-if="deal.feedback" class="label label-success pull-right" ng-click="openFeedback()">Edit</a>
                            <h5>Redeemed</h5>
                        </div>
                        <div class="ibox-content" ng-if="deal.feedback">
                            <h1 class="no-margins">{{deal.feedback.visits}}</h1>
                            <small>People showed up at the venue</small>
                        </div>
                        <div class="ibox-content text-center" ng-if="!deal.feedback">
                            <a class="btn btn-success btn-md" ng-click="openFeedback()">Provide feedback</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Interested</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{deal.num_accepted}}</h1>
                            <small>People indicated interest via the app</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
