<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>MainDeal</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Deal</a>
            </li>
            <li class="active">
                <strong>Layouts</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <promo-builder user="user" deals="deals" venues="venues"></promo-builder>
</div>