<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Promote Deals</h2>
        <p>Looking to get a lot of customers? Promote your deal by making it the deal of the day at a low cost. We'll even send a push notification to users promoting your deals. Deals must be scheduled at least 3 days in advance.</p>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <promo-builder deals="deals"></promo-builder>
</div>