<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Your Venues</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li class="active">
        <strong>Layouts</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-4">
    <div class="title-action">
      <a ui-sref="venues.builder" class="btn btn-primary btn-sm">Add Venue</a>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Your Locations</h5>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <div class="feed-activity-list">
                                    <div class="feed-element" ng-repeat="venue in venues">
                                        <a class="pull-left">
                                            <img alt="image" class="img-circle" src="{{venue.image_url}}">
                                        </a>

                                        <div class="media-body ">
                                            {{venue.bar_name}} <br>
                                            <small class="text-muted">{{venue.address}}</small>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Alpha project</h5>
                            <div ibox-tools></div>
                        </div>
                        

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>