<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{user.username}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="dash.main"><i class="fa fa-laptop"></i> <span class="nav-label">Main page</span> </a>
            </li>
            <li ng-class="{active: $state.includes('deals')}">
                <a href=""><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Deals</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('deals')}">
                    <li ui-sref-active="active"><a ui-sref="dash.deals.list">Your deals</a></li>
                    <li ui-sref-active="active"><a ui-sref="dash.deals.builder">Deal Buidler</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>