<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <img alt="image" class="img-circle" src="/images/logo_small.png">
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{user.username}}</strong>
                                 </span>
                            </span>
                    </a>
                </div>
                <div class="logo-element">
                    <img class="img-responsive" src="/images/logo_small.png">
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="dash.main"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboard</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="deals.list"><i class="fa fa-beer"></i> <span class="nav-label">Your Deals</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="deals.builder"><i class="fa fa-plus-square"></i> <span class="nav-label">Create Deal</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="promo.push"><i class="fa fa-star"></i> <span class="nav-label">Promote</span> </a>
            </li>
            <li ng-class="{active: $state.includes('profile')}">
                <a href=""><i class="fa fa-user"></i> <span class="nav-label">Profile</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('profile')}">
                    <li ui-sref-active="active"><a ui-sref="profile.venues">Venues</a></li>
                    <li ui-sref-active="active"><a ui-sref="profile.payment.one_sub">Subscription</a></li>
                    <li ui-sref-active="active"><a ui-sref="profile.invoice">Invoice</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>