<div class="container-fluid">

  <div class="row">
    <div class="col-md-2">
      <side-bar/>
    </div>

    <div class="col-md-10">
      <div class="row">
        <nav-bar/>
      </div>
      <div class="container-fluid">
        <div class="row">
          <button class="btn btn-default">ALL</button>
          <button class="btn btn-primary">ONLINE</button>
          <button class="btn btn-inverse">OFFLINE</button>
          <button class="btn btn-warning">WAITING</button>
        </div>
        <div class="row">
          <deal-grid/>
        </div>
      </div>
    </div>

  </div>
</div>






