<div>
  <select class="form-control select select-primary select-block mbl"
          ng-model="selected"
          ng-options="deal.name for deal in deals | orderBy:'deal_start_date':true">
  </select>
</div>

<div class="row">

  <div class="col-md-4">
    <div class="tile">
      <div class="outer">
        <div class="inner">
          <span class="fui-user pull-right big-icon"></span>
          <div class="big-text">{{selected.deal_type}}</div>
          <div>Food Type</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="tile">
      <div class="outer">
        <div class="inner">
          <span class="fui-user pull-right big-icon"></span>
          <div class="big-text">{{selected.num_accepted}}</div>
          <div>Food Type</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="tile">
      <div class="outer">
        <div class="inner">
          <span class="fui-user pull-right big-icon"></span>
          <div class="big-text">{{selected.deal_type}}</div>
          <div>Food Type</div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-4">
    <div class="tile">
      <div class="outer">
        <div class="inner">
          <span class="fui-user pull-right big-icon"></span>
          <div class="big-text">{{selected.deal_type}}</div>
          <div>Food Type</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="tile">
      <div class="outer">
        <div class="inner">
          <span class="fui-user pull-right big-icon"></span>
          <div class="big-text">{{selected.num_accepted}}</div>
          <div>Food Type</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="tile">
      <div class="outer">
        <div class="inner">
          <span class="fui-user pull-right big-icon"></span>
          <div class="big-text">{{selected.deal_type}}</div>
          <div>Food Type</div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-4">
    <div id="gender" class="tile">
      <h4>Gender</h4>
      <nvd3-discrete-bar-chart
        data="exampleData"
        showXAxis="true"
        showValues="true"
        showLegend="true">
      </nvd3-discrete-bar-chart>
    </div>
  </div>

  <div class="col-md-8">
    <div id="community" class="tile">
      <h4>Student Groups</h4>
        <nvd3-pie-chart
          data="exampleData2"
          id="donutRatioExample"
          width="550"
          height="350"
          margin="{left:0,top:0,bottom:0,right:0}"
          x="xFunction()"
          y="yFunction()"
          donut="true"
          donutRatio=".25"
          showLegend="true">
          <svg height="250"></svg>
        </nvd3-pie-chart>
    </div>
  </div>
</div>

