<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>{{deal.name}}</h2>
    <h3><strong>{{bar_name}}</strong></h3>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Bar Feedback</h5>
        </div>
        <div class="ibox-content">
          <feedback-form></feedback-form>
        </div>
      </div>
    </div>
  </div>
</div>
