<div class="deals" layout="column" layout-fill>
  <md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">
      <h3>
        <span>Your Deals</span>
      </h3>
    </div>
  </md-toolbar>
  <md-content md-scroll-y class="deal-list">
    <md-list>
      <md-item ng-repeat="deal in deals">
        <md-item-content>
          <md-card flex="33">
            <md-card-content ng-click="selectDeal(deal)" class="deal-card">
              <div class="md-tile-content">
                <div layout="row" flex>
                  <div layout="column">
                    <h3>{{deal.name}}</h3>
                    <h3>{{deal.deal_start_date.getMonth()+1}}/{{deal.deal_start_date.getDate()+1}}/{{deal.deal_start_date.getFullYear()}}</h3>
                  </div> 
                </div>
              </div>
            </md-card-content>
          </md-card>
        </md-item-content>
      </md-item>
    </md-list>
  </md-content>
</div>