<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{deal.name}}</h4>
  </div>

  <div class="modal-body">
    <p>{{deal.description}}</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="update()">Update</button>
  </div>

</div>
