<div class="deal deal-card col-md-3">
  <div class="tile" ng-click="viewDetails()">
    <div class="modal-header">
      <h6>{{deal.name}}</h6>
      <progressbar value="percent_accepted"
        ng-attr-type="{{deal.approved ? 'success' : 'warning'}}">
        <b>{{deal.num_accepted}} / {{deal.deal_qty}}</b>
      </progressbar>
    </div>
    <div class="modal-body">
      <b>From</b> {{deal.deal_start_date | date:'mediumDate'}}<br/>
      <b>To</b> {{deal.deal_end_date | date:'mediumDate'}}
    </div>

  </div>
</div>
