<div ng-cloak class="home-wrapper container-fluid">
  <div class="animate-switch-container"
    ng-switch on="pagename()">
    <div class="home" ng-switch-default>
      <div class="row">
        <div class="left-content col-md-4 hidden-sm hidden-xs">
          <img class="drink" src="/images/mojito.png">
        </div>
        <div class="cover-container col-md-4">
          <div class="banner row">
            <a ng-click="switchWithin('about')">
              <div class="col-sm-3 col-xs-3">
                <img class="img-responsive" src="/images/dm.png">
              </div>
              <div class="col-sm-9 col-xs-9">
                <h3>Win $1000 for your DM team!</h3>
                <p>Learn more...</p>
              </div>
            </a>
          </div>
          <div class="cover row">
            <img class="img-responsive logo" src="/images/logo.png">
            <h3 class="cover-heading hidden-sm hidden-xs">Drink Spontaneously</h3>
            <p class="lead hidden-sm hidden-xs">
              BarLift sends you awesome deals 
              from bars and restaurants around you.
            </p>
            <p class="lead hidden-sm hidden-xs">
              See who’s interested in going out,
              nudge friends and find out
              where the crowds are headed.
            </p>
              <!-- <a class="btn-download">Download the app <i class="fa fa-chevron-circle-right"></i></a>  -->
              <form class="form-inline">
                <div class="form-group">
                  <input type="email" ng-model="user.email" class="form-control" id="email" placeholder="barlift@u.northwestern.edu">
                </div>
                <button type="submit" class="btn btn-get" ng-click="addEmail()">Get invitation</button>
              </form>
              <p class="subtitle">Available for iOS and Android</p>
          </div>
        </div>
        <div class="right-content col-md-4">
          <img class="phone" src="/images/iphone_6.png">
        </div>
      </div>
      <div class="cover row visible-xs-* hidden-md hidden-lg">
        <h3 class="cover-heading">Drink Spontaneously</h3>
        <p class="lead">
          BarLift sends you awesome deals 
          from bars and restaurants around you.
        </p>
        <p class="lead">
          See who’s interested in going out,
          nudge friends and find out
          where the crowds are headed.
        </p>
      </div>
    </div>
    <div class="about" ng-switch-when="/about">
      <div class="row">
        <div class="col-md-4 col-md-offset-2 hidden-sm hidden-xs">
          <img class="img-responsive" src="/images/iphone_6.png">
        </div>
        <div class="cover-container col-md-5">
          <div class="cover row">
            <div class="row">
              <div class="col-md-8">
                <h6>DM teams:</h6>
                <h3 class="cover-heading">Win $1000!</h3>
              </div>
              <div class="col-md-3">
                <img class="img-responsive" src="/images/dm.png">
              </div>
            </div>
            <p>
              BarLift, a Northwestern student startup, is partnering with Dance Marathon to donate $1000 to DM.
            </p>
            <h6>1st Prize - $800</h6>
            <p>The DM team with the most BarLift app downloads (iOS/Android) will win $800.</p>
            <h6>2nd Prize - $200</h6>
            <p>Each user download will be an entry to a raffle. The more downloads a DM team has, the higher the chances of winning.</p>
            <p>Contest starts on Feb 27th and ends on March 6th Winners will be announced on  March 7th </p>
            <p>Feel free to spread the word to friends that aren’t involved with DM! Their downloads count too! (No age limit – all entries welcome)</p>
            <form class="form-inline">
              <div class="form-group">
                <input type="email" ng-model="user.email" class="form-control" id="email" placeholder="barlift@u.northwestern.edu">
              </div>
              <button type="submit" class="btn btn-get" ng-click="addEmail()">Get invitation</button>
            </form>
            <p class="subtitle">Available for iOS and Android</p>
          </div>
        </div>
        
      </div>
    </div>  
  </div>
  <div class="row">
    <div class="mastfoot col-md-4 col-md-offset-4">
      <nav>
        <ul class="nav mastfoot-nav">
          <li><a ng-click="selection='home'">HOME</a></li>
          <li><a ng-click="selection='about'">ABOUT</a></li>
          <!-- <li><a ng-click="selection='team'">TEAM</a></li> -->
          <li><a href="mailto:hello@barliftapp.com">CONTACT</a></li>
        </ul>
      </nav>
    </div>
  </div>

</div>