<div ng-cloak class="home-wrapper container-fluid">
  <div class="animate-switch-container main-content"
    ng-switch on="pagename()">
    <div class="home" ng-cloak ng-switch-default>
      <div class="row top">
        <div class="banner dm col-md-4 col-md-offset-4 row">
          <a ng-click="switchWithin('about')">
            <div class="col-sm-3 col-xs-3">
              <img class="img-responsive" src="/images/dm.png">
            </div>
            <div class="col-sm-9 col-xs-9">
              <h3>Win $1000 for your DM team!</h3>
              <p>Learn more...</p>
            </div>
          </a>
        </div>
      </div>
      <div class="row body">
        <div class="left-content col-md-4 hidden-sm hidden-xs">
          <img class="img-responsive drink" src="/images/coke.png">
        </div>
        <div class="center-content col-md-4">
          <img class="img-responsive logo" src="/images/logo.png">
          <h2 class="cover-heading hidden-sm hidden-xs">Drink Spontaneously</h2>
          <h5 class="hidden-sm hidden-xs">
            BarLift sends you awesome deals 
            from bars and restaurants around you.
          </h5>
          <h5 class="hidden-sm hidden-xs">
            See who’s interested in going out,
            nudge friends and find out
            where the crowds are headed.
          </h5>
          <a ng-if="getDevice() === 'ios'"  href="https://itunes.apple.com/us/app/barlift/id965946420?ls=1&mt=8" class="btn-download">Download the app <i class="fa fa-chevron-circle-right"></i></a> 
          <a ng-if="getDevice() === 'android'"  href="https://play.google.com/store/apps/details?id=com.barliftapp.barlift" class="btn-download">Download the app <i class="fa fa-chevron-circle-right"></i></a> 
          <div ng-if="getDevice() === 'unknown'" class="row app-store-btns">
            <a class="col-sm-4 col-sm-offset-2 apple-badge" href="https://itunes.apple.com/us/app/barlift/id965946420?ls=1&mt=8">
              <img class="img-responsive" src="images/applebadge.png">
            </a>
            <a class="col-sm-4 google-badge" href="https://play.google.com/store/apps/details?id=com.barliftapp.barlift">
              <img class="img-responsive" alt="Android app on Google Play"
                   src="images/googlebadge.png" />
            </a>
          </div>
        </div>
        <div class="right-content col-md-4">
          <img class="img-responsive phone" src="/images/iphone_6.png">
        </div>
      </div>
      <div class="row center-content mobile visible-xs-* hidden-md hidden-lg">
        <h2>Drink Spontaneously</h2>
        <h5>
          BarLift sends you awesome deals 
          from bars and restaurants around you.
        </h5>
        <h5>
          See who’s interested in going out,
          nudge friends and find out
          where the crowds are headed.
        </h5>
      </div>
    </div>
    <div class="about" ng-switch-when="/about">
      <div class="row top">
        <div class="logo col-md-4 col-md-offset-4 row">
          <a ng-click="switchWithin('home')">
            <img class="img-responsive" src="/images/logo.png">
          </a>
        </div>
      </div>
      <div class="row body">
        <div class="right-content col-md-4 col-md-offset-2 hidden-sm hidden-xs">
          <img class="phone" src="/images/iphone_6.png">
        </div>
        <div class="center-content col-md-4">
          <div class="row header">
            <div class="col-md-3 col-xs-3">
              <img class="img-responsive dm" src="/images/dm.png">
            </div>
            <div class="col-md-8 col-xs-8">
              <h5>DM teams:</h5>
              <h2 class="cover-heading">Win $1000!</h2>
            </div>
          </div>
          <p>
            BarLift, a Northwestern student startup, is partnering with Dance Marathon to donate $1000 to DM. <a ng-click="switchWithin('competition')">See scores here!</a>
          </p>
          <a ng-if="getDevice() === 'ios'"  href="https://itunes.apple.com/us/app/barlift/id965946420?ls=1&mt=8" class="btn-download">Download the app <i class="fa fa-chevron-circle-right"></i></a> 
          <a ng-if="getDevice() === 'android'"  href="https://play.google.com/store/apps/details?id=com.barliftapp.barlift" class="btn-download">Download the app <i class="fa fa-chevron-circle-right"></i></a> 
          <div ng-if="getDevice() === 'unknown'" class="row app-store-btns">
            <a class="col-sm-4 apple-badge" href="https://itunes.apple.com/us/app/barlift/id965946420?ls=1&mt=8">
              <img class="img-responsive" src="images/applebadge.png">
            </a>
            <a class="col-sm-4 google-badge" href="https://play.google.com/store/apps/details?id=com.barliftapp.barlift">
              <img class="img-responsive" alt="Android app on Google Play"
                   src="images/googlebadge.png" />
            </a>
          </div>
          <h4>1st Prize - $800</h4>
          <p>The DM team with the most BarLift app downloads (iOS/Android) will win $800.</p>
          <h4>2nd Prize - $200</h4>
          <p>Each user download will be an entry to a raffle. The more downloads a DM team has, the higher the chances of winning.</p>
          <p class="subtitle">Contest starts on Feb 27th and ends on March 6th Winners will be announced on  March 7th </p>
          <p class="subtitle">Feel free to spread the word to friends that aren’t involved with DM! Their downloads count too! (No age limit – all entries welcome)</p>
        </div>
      </div>
    </div>
    <div class="team" ng-switch-when="/team">
      <div class="row top">
        <div class="logo col-md-4 col-md-offset-4 row">
          <a ng-click="switchWithin('home')">
            <img class="img-responsive" src="/images/logo.png">
          </a>
        </div>
      </div>
      <div class="row body">
        <div class="team-grid col-md-8 col-md-offset-2">
            <div class="container-fluid">
              <div class="col-md-12 text-center"><h3>Our Team</h3></div>
              <div class="col-md-12 text-center">
                <div class="row img-row">
                  <div class="col-sm-3 img-card">
                    <a href="http://linkedin.com/in/dominicwong2014" target="_blank">
                      <img class="img-circle grayscale" src="/images/team/dom.jpg">
                      <div class="img-caption"><h3>Dominic Wong</h3></div>
                    </a>
                  </div>
                  <div class="col-sm-3 img-card">
                    <a href="http://linkedin.com/in/shikharm" target="_blank">
                      <img class="img-circle grayscale" src="/images/team/shikhar.jpg">
                      <div class="img-caption"><h3>Shikhar Mohan</h3></div>
                    </a>
                  </div>
                  <div class="col-sm-3 img-card">
                    <a href="http://linkedin.com/in/oskarmelking" target="_blank">
                      <img class="img-circle grayscale" src="/images/team/oskar.jpg">
                      <div class="img-caption"><h3>Oskar Melking</h3></div>
                    </a>
                  </div>
                  <div class="col-sm-3 img-card">
                    <a href="http://www.nikhilpi.com" target="_blank">
                      <img class="img-circle grayscale" src="/images/team/nikhil.jpeg">
                      <div class="img-caption"><h3>Nikhil Pai</h3></div>
                    </a>
                  </div>
                </div>
                <div class="row img-row">
                  <div class="col-sm-3 col-md-offset-1 img-card">
                    <a href="http://www.zak-allen.com" target="_blank">
                     <img class="img-circle grayscale" src="/images/team/zak.jpg">
                     <div class="img-caption"><h3>Zak Allen</h3></div>
                    </a>
                  </div>
                  <div class="col-sm-3 img-card">
                    <a href="http://linkedin.com/in/matsglj" target="_blank">
                     <img class="img-circle grayscale" src="/images/team/mats.jpg">
                     <div class="img-caption"><h3>Mats G L Johansen</h3></div>
                    </a>
                  </div>
                  <div class="col-sm-3 img-card">
                    <a href="http://linkedin.com/in/divirgupta" target="_blank">
                      <img class="img-circle grayscale" src="/images/team/divir.jpg">
                      <div class="img-caption"><h3>Divir Gupta</h3></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>




        </div>
      </div>
    </div>
    <div class="results" ng-switch-when="/competition">
      <div class="row top">
        <div class="logo col-md-4 col-md-offset-4 row">
          <a ng-click="switchWithin('home')">
            <img class="img-responsive" src="/images/logo.png">
          </a>
        </div>
      </div>
      <div class="row body">
        <div class="results-grid col-md-8 col-md-offset-2">
            <div class="container-fluid">
              <div class="col-md-12 text-center">
                <a ng-click="switchWithin('about')">
                  <h3>Current DM Competition Standings</h3>
                </a>
              </div>
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>Downloads</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="team in results | orderBy:'score':true">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{team.name}}</td>
                        <td>{{team.score}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="download-btns col-md-6 col-md-offset-3 text-center">
                <a ng-if="getDevice() === 'ios'"  href="https://itunes.apple.com/us/app/barlift/id965946420?ls=1&mt=8" class="btn-download">Download the app <i class="fa fa-chevron-circle-right"></i></a> 
                <a ng-if="getDevice() === 'android'"  href="https://play.google.com/store/apps/details?id=com.barliftapp.barlift" class="btn-download">Download the app <i class="fa fa-chevron-circle-right"></i></a> 
                <div ng-if="getDevice() === 'unknown'" class="row app-store-btns">
                  <a class="col-sm-4 col-sm-offset-2 apple-badge" href="https://itunes.apple.com/us/app/barlift/id965946420?ls=1&mt=8">
                    <img class="img-responsive" src="images/applebadge.png">
                  </a>
                  <a class="col-sm-4 google-badge" href="https://play.google.com/store/apps/details?id=com.barliftapp.barlift">
                    <img class="img-responsive" alt="Android app on Google Play"
                         src="images/googlebadge.png" />
                  </a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div> 
  </div>
  <div class="row foot">
    <div class="mastfoot col-md-6 col-md-offset-3">
      <nav>
        <ul class="nav mastfoot-nav">
          <li><a ng-class="{active:isActive('/')}" ng-click="selection='home'">HOME</a></li>
          <li><a ng-class="{active:isActive('/about')}" ng-click="selection='about'">ABOUT</a></li>
          <li><a ng-class="{active:isActive('/competition')}" ng-click="selection='competition'">COMPETITION</a></li>
          <li><a ng-class="{active:isActive('/team')}" ng-click="selection='team'">TEAM</a></li>
          <!-- <li><a ng-click="selection='team'">TEAM</a></li> -->
          <li><a href="mailto:hello@barliftapp.com">CONTACT</a></li>
        </ul>
      </nav>
    </div>
  </div>

</div>