<div class="gray-bg full-height">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">IN+</h1>

            </div>
            <h3>Reset Password</h3>
            <p>Login to create deals, send push notifications and get analytics on you bar and the surrounding area.
            </p>
            <div class="alert alert-danger" ng-if="alert">
                {{alert}}
            </div>
            <form class="m-t" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" required="" ng-model="email">
                </div>
                <button ng-click="reset(email)" class="btn btn-primary block full-width m-b">Reset</button>
                <p class="text-muted text-center"><small>Have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" ui-sref="login">Login</a>
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" ui-sref="register">Create an account</a>
            </form>
            <p class="m-t"> <small>Barlift LLC &copy; 2015</small> </p>
        </div>
    </div>

<div>
